@media(min-width: 576px)
{
    #mapa{
        width: 480px;
    }
}

@media(min-width: 768px)
{
    #mapa{
        width: 700px;
    }
}

@media(min-width: 1200px)
{
    #mapa{
        width: 1000px;
    }
}

@media(min-width: 1400px)
{
    #mapa{
        width: 1300px;
    }
}