.pie{
    //  background-image: linear-gradient(to bottom , $colorPrincipal, $colorFondo);
     background-color: $colorSecundario;
     color: $colorTextoPie
}

.pieFinal{
    //  background-image: linear-gradient(to bottom , $colorPrincipal, $colorFondo);
     background-color: $colorTerciario;
     color: $colorTextoPie
}